@media (max-width: 1179px) {
  .subfooter__image-block {
    width: 300px;
    height: 370px;
  }
}
@media (max-width: 1109px) {
  .article__logo {
    width: 364px !important;
    height: 379px !important;
  }
}
@media (max-width: 1091px) {
  .article__logo {
    width: 264px !important;
    height: 279px !important;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1079px) {
  .subfooter__image-block {
    width: 250px;
    height: 270px;
  }

  .subfooter__block-content {
    width: 609px;
  }

  .subfooter__contact {
    padding-right: 414px !important;
  }

  .subfooter__rectangle {
    width: 338px !important;
  }

  .subfooter__rectangle-btn {
    width: 279px !important;
  }
}
@media (max-width: 1064px) {
  .figure {
    height: 1790px !important;
  }

  .figure__photo-item-1 {
    margin-top: 50px;
  }

  .figure__photo-item-2 {
    margin-top: 50px;
  }
}
@media (max-width: 1060px) {
  .figure__photo-container {
    height: 1505px !important;
    padding-bottom: 60px !important;
  }
}
@media (max-width: 1056px) {
  .figure__user-block {
    width: 907px !important;
  }
}
@media (max-width: 991px) {
  .section {
    height: 527px !important;
  }

  .section__block-logo-img {
    width: 360px;
    height: 334px;
  }
}
@media (max-width: 944px) {
  .figure__user-block {
    width: 867px !important;
  }
}
@media (max-width: 931px) {
  .figure__text-block {
    width: 200px !important;
    font-weight: 300 !important;
    font-size: 35px !important;
  }

  .figure__user-block {
    width: 797px !important;
    margin-right: 0;
  }

  .section__block-welcome {
    width: 360px !important;
  }

  .subfooter__contact {
    padding-right: 314px !important;
  }

  .section__container {
    height: 563px !important;
  }
}
@media (max-width: 931px) {
  .section {
    height: 627px !important;
  }
}
@media (max-width: 929px) {
  .subfooter__block-content {
    width: 509px !important;
  }
}
@media (max-width: 868px) {
  .figure__user-block {
    display: block !important;
  }

  .figure__button-block {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
@media (max-width: 829px) {
  .subfooter__block-content {
    width: 480px !important;
  }

  .figure__user-block {
    width: 655px !important;
  }
}
@media (max-width: 820px) {
  .prices__right-text {
    font-size: 25px !important;
    line-height: 35px !important;
  }

  .prices__right-info {
    width: 390px !important;
  }
}
@media (max-width: 799px) {
  .subfooter__block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none !important;
  }

  .subfooter__contact {
    padding: 0 !important;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
  }

  .subfooter__rectangle {
    margin-top: 100px;
  }

  .subfooter .container {
    height: 739px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .section__container {
    flex-direction: row-reverse;
  }

  .section__text {
    font-size: 35px !important;
  }

  .section__block-logo-img {
    width: 280px !important;
    height: 254px !important;
    margin-top: 40px;
  }

  .section__subtext {
    font-size: 16px !important;
    line-height: 25px !important;
    margin-top: 30px !important;
  }

  .section {
    height: 514px !important;
  }

  .section__container {
    height: 390px !important;
  }

  .article {
    flex-direction: column;
    height: 783px !important;
    align-items: center;
  }

  .article__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article__logo {
    width: 250px !important;
    height: 258px !important;
    margin-top: 40px !important;
  }

  .figure {
    height: 1850px !important;
  }

  .figure__photo-container {
    height: 1565px !important;
  }

  .figure__photo-item-1 {
    width: 281px;
  }

  .figure__photo-item-2 {
    width: 281px;
  }

  .prices__left-text {
    font-size: 35px !important;
  }

  .prices__right-info {
    width: 335px !important;
  }

  .subfooter {
    height: 739px;
  }
}
@media (max-width: 758px) {
  .section__link-button {
    margin-top: 25px !important;
  }
}
@media (max-width: 730px) {
  .footer__block {
    flex-direction: column;
    height: 90px !important;
    padding-top: 25px !important;
    padding-bottom: 120px !important;
  }

  .footer__year {
    padding: 0 !important;
  }

  .footer__social-block {
    margin: 16px 0;
  }
}
@media (max-width: 710px) {
  .figure__user-block {
    width: 580px !important;
  }

  .prices__block {
    height: 515px !important;
    padding-bottom: 88px !important;
  }

  .prices__block-right {
    width: 296px !important;
    height: 357px !important;
    margin-top: 100px;
  }

  .prices__right-info {
    width: 310px !important;
  }
}
@media (max-width: 680px) {
  .prices__right-info {
    width: 275px !important;
  }
}
@media (max-width: 675px) {
  .article__block {
    width: 480px !important;
    height: 228px !important;
  }
}
@media (max-width: 635px) {
  .figure {
    height: 3377px !important;
  }

  .figure__photo-container {
    justify-content: center !important;
  }

  .prices__block {
    height: 512px !important;
    flex-direction: column;
    align-items: center;
  }

  .prices__right-image {
    display: none;
  }

  .prices__right-info {
    width: 230px !important;
    height: 126px !important;
    margin: 0 auto;
  }

  .prices__right-text {
    font-size: 20px !important;
    line-height: 35px !important;
    text-align: center !important;
    margin-bottom: 20px;
  }

  .prices__right-btn {
    margin: 0 auto !important;
    width: 121px !important;
    height: 35px !important;
  }

  .prices__right-btn-text {
    font-size: 15px !important;
    line-height: 19px !important;
  }

  .prices__block-right {
    width: 296px !important;
    height: 170px !important;
    margin-top: 50px !important;
  }

  .prices__left-text {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 105px;
    width: 90px !important;
    height: 27px !important;
    font-size: 25px !important;
    line-height: 30px !important;
    text-align: center;
  }

  .prices__menu-item {
    width: 224px !important;
    height: 235px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .prices__menu-link {
    width: 180px !important;
  }

  .prices__menu-link-text {
    font-size: 15px !important;
    line-height: 20px !important;
    width: 70px !important;
  }

  .prices__menu-link-btn-1 {
    margin-left: -26px !important;
  }

  .prices__menu-link-btn-2 {
    margin-left: -26px !important;
  }

  .prices__menu-link-btn-3 {
    margin-left: -26px !important;
  }
}
@media (max-width: 615px) {
  .section {
    height: 438px !important;
  }

  .section__container {
    justify-content: center !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }

  .section__text {
    font-size: 25px !important;
    line-height: 35px !important;
  }

  .section__block-logo-img {
    display: none;
  }

  .article {
    padding-top: 53px !important;
    padding-bottom: 53px !important;
    height: 700px !important;
  }

  .article__block {
    padding-top: 30px !important;
  }

  .figure {
    height: 3480px !important;
  }

  .figure__user-block {
    width: 200px !important;
  }

  .figure__button-block {
    flex-wrap: wrap;
    width: 349px !important;
    height: 130px !important;
  }

  .figure__photo-container {
    margin-top: 170px !important;
  }
}
.nav__burger-menu {
  display: none;
}

@media (max-width: 530px) {
  .nav__burger-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 24px;
  }

  .nav__burger-menu .nav-span-one {
    position: absolute;
    background-color: #717171;
    left: 0;
    width: 40px;
    height: 2px;
    top: 15px;
  }

  .nav__burger-menu .nav__span-two {
    position: absolute;
    background-color: #717171;
    left: 0;
    width: 40px;
    height: 2px;
    top: 7px;
  }

  .nav__burger-menu span {
    transition: all 0.3s ease 0s;
  }

  .nav__burger-menu::before,
  .nav__burger-menu::after {
    content: '';
    background-color: #717171;
    position: absolute;
    width: 40px;
    height: 2px;
    z-index: 6;
  }

  .nav__burger-menu::before {
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .nav__burger-menu::after {
    bottom: 0;
    transition: all 0.3s ease 0s;
  }

  .nav__burger-menu.active::before {
    transform: rotate(-45deg);
    top: 10px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger-menu.active::after {
    transform: rotate(45deg);
    bottom: 11px;
    transition: all 0.3s ease 0s;
  }

  .nav__burger-menu.active span {
    transform: scale(0);
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EDF2EC;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 0;
    margin: 0;
    display: block !important;
    transition: all 0.3s ease 0s;
  }

  .nav__menu.active {
    top: 0;
    overflow: auto;
    display: flex !important;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

  .nav {
    position: fixed;
    right: 0;
    left: 0;
    margin: -67px 20px !important;
    padding: 15px 0 !important;
  }

  .nav__menu-item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .nav__logo {
    z-index: 2;
  }

  .section {
    margin-top: 80px;
  }

  body.lock {
    overflow: hidden;
  }
}
@media (max-width: 515px) {
  .article__block {
    width: 425px !important;
  }
}
@media (max-width: 480px) {
  .article__text {
    font-size: 35px !important;
    line-height: 32px !important;
  }

  .article__subtext {
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .subfooter__block-content {
    width: 335px !important;
  }
}
@media (max-width: 420px) {
  .figure__button-block {
    width: 260px !important;
    height: 106px !important;
  }

  .figure__button-link {
    width: 121px !important;
    height: 35px !important;
  }

  .article__block {
    width: 335px !important;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .subfooter__rectangle {
    width: 215px !important;
  }

  .subfooter__rectangle-btn {
    width: 165px !important;
  }
}
@media (max-width: 355px) {
  .article__block {
    width: 310px !important;
    text-align: center;
  }
}

/*# sourceMappingURL=media.css.map */
