body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #EDF2EC;
}

body::-webkit-scrollbar-thumb {
  background-color: #EDF2EC;
  border-radius: 20px;
  border: 3px solid #499A18;
}

.header {
  background: #EDF2EC;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 35px;
}

.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  width: 79px;
}

.nav__text-logo {
  color: #010201;
  font-family: Inika;
  display: flex;
  align-items: flex-end;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  width: 452px;
  font-family: Inika;
}

.nav__menu-item {
  list-style: none;
}

.nav__menu-link-one {
  color: #E06733;
}

.nav__menu-link {
  color: #010201;
}

.section {
  background: #EDF2EC;
  height: 532px;
  display: flex;
}

.section__container {
  display: flex;
  justify-content: space-between;
  height: 407px;
  width: 1220px;
  padding-top: 62px;
  padding-bottom: 62px;
  overflow: hidden;
}

.section__block-welcome {
  width: 549px;
  height: 340px;
  padding-top: 36px;
  padding-bottom: 31px;
  font-family: inter;
}

.section__text {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.section__subtext {
  font-weight: 400;
  font-size: 20px;
  margin-top: 42px;
  color: #636060;
  line-height: 35px;
}

.section__link-button {
  display: flex;
  align-items: center;
  width: 158px;
  height: 44px;
  border-radius: 16px;
  border: 2px solid #E06733;
  margin-top: 48px;
}

.section__link-button a {
  color: #000000;
  padding: 14px 27px;
  line-height: 20px;
}

.section__text-plants {
  color: #499A18;
}

.main {
  background: #FFFFFF;
}

.article {
  display: flex;
  justify-content: space-between;
  height: 479px;
  padding-top: 93px;
  padding-bottom: 93px;
}

.article__block {
  width: 605px;
  height: 350px;
  padding: 68px 0 61px 0;
}

.article__text {
  font-family: inika;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.article__text-professional {
  color: #E06733;
}

.article__subtext {
  font-family: inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-top: 40px;
  color: #636060;
}

.article__logo {
  width: 464px;
  height: 479px;
}

.figure {
  height: 1300px;
  background: #EDF2EC;
  margin: 0;
}
.figure .figure__user-container {
  height: 134px;
}
.figure .figure__user-block {
  display: flex;
  justify-content: space-between;
  width: 1007px;
  height: 94px;
  padding-top: 40px;
}
.figure .figure__user-block .figure__text-block {
  display: inline-block;
  width: 306px;
  height: 94px;
  font-family: inika;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.figure .figure__user-block .figure__button-block {
  display: flex;
  padding-top: 29px;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 559px;
  height: 50px;
}
.figure .figure__user-block .figure__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 50px;
  border-radius: 16px;
  border: 2px solid #E06733;
}
.figure .figure__user-block .figure__link-color {
  font-family: inika;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
}
.figure .figure__photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 970px;
  margin-top: 90px;
  padding-bottom: 121px;
}
.figure .figure__photo-container .figure__photo-item-1 {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  overflow: hidden;
}
.figure .figure__photo-container .figure__photo-item-1 .figure__photo-text-1 {
  color: #E06733;
  font-family: inter;
  width: 120px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 110px;
}
.figure .figure__photo-container .figure__photo-item-1 .figure__photo-subtext-1 {
  font-weight: 400;
  font-family: inter;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 36px;
}
.figure .figure__photo-container .figure__photo-item-2 {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  overflow: hidden;
}
.figure .figure__photo-container .figure__photo-item-2 .figure__photo-text-2 {
  color: #E06733;
  font-family: inter;
  width: 120px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 110px;
}
.figure .figure__photo-container .figure__photo-item-2 .figure__photo-subtext-2 {
  font-weight: 400;
  font-family: inter;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 36px;
}
.figure .figure__photo-container .figure__photo-rect {
  height: 350px;
  overflow: hidden;
}
.figure .figure__photo-container .figure__photo {
  transition: .2s;
}
.figure .figure__photo-container .figure__photo-text-1 {
  transition: .2s;
}
.figure .figure__photo-container .figure__photo-text-2 {
  transition: .2s;
}
.figure .figure__photo-container .figure__photo-item-1:hover .figure__photo {
  transition: .2s;
  transform: scale(1.07);
}
.figure .figure__photo-container .figure__photo-item-2:hover .figure__photo {
  transition: .2s;
  transform: scale(1.07);
}

.prices {
  background: #FFFFFF;
}

.prices__block {
  display: flex;
  justify-content: space-between;
  height: 405px;
  padding-top: 40px;
  padding-bottom: 115px;
}

.prices__block-left {
  width: 332px;
  height: 391px;
}
.prices__block-left .prices__left-text {
  width: 135px;
  height: 49px;
  font-family: inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.prices__block-left .prices__left-menu {
  width: 332px;
  height: 282px;
  padding-top: 60px;
}
.prices__block-left .prices__left-menu .prices__menu-item {
  width: 250px;
  height: 214px;
  padding: 34px 41px;
  border: 2px solid #E3E1D5;
  border-radius: 20px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link {
  display: flex;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  margin-top: 20px;
  transition: .2s;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link .prices__menu-link-text {
  padding: 16px 54px 16px 40px;
  font-family: inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link .prices__menu-link-btn-1 {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 35px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link .prices__menu-link-btn-2 {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 10px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link .prices__menu-link-btn-3 {
  width: 16px;
  height: 16px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 20px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link .prices__menu-link-btn-arrow {
  margin-left: 4px;
  margin-bottom: 3px;
  width: 8px;
  height: 6px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link:hover {
  background: #d2d2d2;
  transition: .2s;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link-text {
  transition: .1s;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio] {
  display: none;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-label {
  display: flex;
  transition: .2s;
  border-radius: 20px;
  width: 250px;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label {
  box-sizing: border-box;
  border: 1px solid #858585;
  transition: .2s;
  background: white;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label .prices__menu-link-text {
  color: #499A18;
  transition: .1s;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label .prices__menu-link-btn-1 {
  transition: .2s;
  background: #616060;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label .prices__menu-link-btn-2 {
  transition: .2s;
  background: #616060;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label .prices__menu-link-btn-3 {
  transition: .2s;
  background: #616060;
}
.prices__block-left .prices__left-menu .prices__menu-item .prices__menu-link input[type=radio]:checked + label .prices__menu-link-btn-arrow {
  transition: .2s;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(332deg) brightness(105%) contrast(2000%);
  transform: rotate(180deg);
  width: 8px;
  height: 6px;
}

.prices__block-right {
  width: 452px;
  height: 405px;
}
.prices__block-right .prices__right-info {
  width: 452px;
  height: 191px;
}
.prices__block-right .prices__right-text {
  font-family: inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}
.prices__block-right .prices__right-text .prices__right-text-gardeners {
  color: #499A18;
}
.prices__block-right .prices__right-btn {
  margin-top: 50px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #E06733;
}
.prices__block-right .prices__right-btn .prices__right-btn-text {
  font-family: inika;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
}
.prices__block-right .prices__right-image {
  padding-top: 39px;
  float: right;
}

.subfooter {
  background: #EDF2EC;
}
.subfooter .subfooter__image-block {
  margin-top: 53px;
}
.subfooter .subfooter__block-content {
  margin-top: 60px;
  float: right;
}
.subfooter .subfooter__block-content .subfooter__contact {
  width: 195px;
  height: 51px;
  font-family: inika;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #499A18;
  padding-right: 514px;
  margin-bottom: 78px;
}
.subfooter .subfooter__block-content .subfooter__rectangle {
  width: 448px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  float: right;
}
.subfooter .subfooter__block-content .subfooter__rectangle .subfooter__rectangle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #717171;
  width: 379px;
  font-family: inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  margin-left: 21px;
}
.subfooter .subfooter__block-content .subfooter__rectangle .subfooter__rectangle-link {
  display: flex;
  width: 16px;
  height: 16px;
  background: #AEA1A1;
  border-radius: 50%;
}
.subfooter .subfooter__block-content .subfooter__rectangle .subfooter__rectangle-link .subfooter__rectangle-arrow {
  width: 10px;
  height: 5px;
  margin-top: 5px;
  margin-left: 2.35px;
}

.footer {
  background-color: #FFFFFF;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__block .footer__year {
  width: 182px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer__block .footer__year .footer__item {
  font-weight: 400;
  font-family: inter;
  font-size: 20px;
  line-height: 50px;
}
.footer__block .footer__text {
  width: 211px;
  font-weight: 400;
  font-family: inter;
  font-size: 20px;
  line-height: 50px;
}
.footer__block .footer__social-block {
  display: flex;
  justify-content: space-between;
  width: 188px;
}
.footer__block .footer__social-block .footer__social-inst:hover .footer__social-inst-path {
  transition: .2s;
  fill: #F77737;
  width: 32px;
  height: 32px;
}
.footer__block .footer__social-block .footer__social-inst-path {
  transition: .2s;
}
.footer__block .footer__social-block .footer__social-fb:hover .footer__social-fb-path {
  transition: .2s;
  fill: #3b5998;
  width: 32px;
  height: 32px;
}
.footer__block .footer__social-block .footer__social-fb-path {
  transition: .2s;
}
.footer__block .footer__social-block .footer__social-twit:hover .footer__social-twit-path {
  transition: .2s;
  fill: #1D9BF0;
  width: 32px;
  height: 32px;
}
.footer__block .footer__social-block .footer__social-twit-path {
  transition: .2s;
}
.footer__block .footer__social-block .footer__social-pint:hover .footer__social-pint-path {
  transition: .2s;
  fill: #E60023;
  width: 32px;
  height: 32px;
}
.footer__block .footer__social-block .footer__social-pint-path {
  transition: .2s;
}

/*# sourceMappingURL=stylle.css.map */
